<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/heading :: heading">
    <meta charset="UTF-8">
    <title id="title">Catalog</title>
</head>
<body>
<div th:replace="fragments/headerfooter :: header"> header</div>

<form class="filterBox" th:action="@{/user/catalog}" method="get">
    <input type="text" name="author" placeholder="author"><br>
    <input type="text" name="title" placeholder="title"><br>
    <input type="number" name="year" placeholder="year"><br>

    <input type="submit" th:value="Filter">
</form>

<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="text-center">Books: </h1>
            <section th:each="book: ${books}" class="list-group-item">
                <a id="book" th:href="@{'detailpage/' + ${book.getId()}}">
                    <span id="bookTitle" th:text="${book.getTitle()}"></span>
                </a>
            </section>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<div th:replace="fragments/headerfooter :: footer"> footer</div>
</body>
</html>